{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editer une saison</h1>

    {{ form(form) }}

    <a href="#" {{ stimulus_controller('modal-form', {
        'formUrl': path('app_serie_create_ajax'),
    }) }} data-action="modal-form#openModal">add</a>

    {% include 'part/_modal.html.twig' with { modalTitle: 'Editer une série' } %}

{% endblock %}